<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blogs.mapper.AboutMapper">
    <select id="pageList" resultType="com.example.blogs.v1.back.vo.AboutSearchVO">
        select * from about
        <where>
            <if test="null != searchDTO.title and '' != searchDTO.title">
                title like concat('%', #{searchDTO.title}, '%')
            </if>
        </where>
    </select>
</mapper>