<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blogs.mapper.UsersMapper">
    <select id="pageList" resultType="com.example.blogs.v1.admin.vo.UsersVO">
        select * from user
        <where>
            deleted=0
            <if test="null != usersDTO">
                <if test="null != usersDTO.login and '' != usersDTO.login">
                    and login=#{usersDTO.login}
                </if>
                <if test="null != usersDTO.nickName and '' != usersDTO.nickName">
                    and nick_name=#{usersDTO.nickName}
                </if>
                <if test="null != usersDTO.phone and '' != usersDTO.phone">
                    and phone=#{usersDTO.phone}
                </if>
                <if test="null != usersDTO.status">
                    and status=#{usersDTO.status}
                </if>
            </if>
        </where>
    </select>
</mapper>
